.todoItem {
  display: flex;
  box-sizing: border-box;
  padding: 0.2rem;
  align-items: center;
  margin: 0.4rem 0;
  font-size: 0.8rem;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.todoItem-deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.todoItem-contents {
  box-sizing: border-box;
  padding: 0 0.2rem;
  flex: 1 1 auto;
  white-space: pre-line;
  min-height: 1rem;
  line-height: 1rem;
}

.todoItem-checkbox {
  flex: 0 0 auto;
  border: none;
  outline: none;
  width: 1rem;
  height: 1rem;
}

.todoItem-editForm {
  display: flex;
  align-items: center;
  width: 100%;
}

.todoItem-editForm-input {
  flex: 1 1 auto;
  max-width: calc(100% - 2.5rem);
}

.todoItem-editForm-button {
  width: 2rem;
  height: 1rem;
  flex: 0 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
}
