.todoItem {
  display: flex;
  box-sizing: border-box;
  padding: 0.2rem;
  align-items: center;
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

.todoItem-deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 0.1rem;
}

.todoItem-contents {
  box-sizing: border-box;
  padding: 0 0.2rem;
  flex: 1 1 auto;
  white-space: pre-line;
  min-height: 1rem;
  line-height: 0.9rem;

  &.checked {
    text-decoration: line-through;
  }
}

.todoItem-checkbox {
  flex: 0 0 auto;
  border: none;
  outline: none;
  width: 0.9rem;
  height: 0.9rem;
  cursor: pointer;
}

.todoItem-editForm {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 2.5rem;
}

.todoItem-editForm-input {
  flex: 1 1 auto;
  max-width: calc(100% - 4rem);
  border: none;
  border-bottom: 1px solid #888787;
  background-color: transparent;
  min-height: 0.8rem;
  margin: 0.1rem 0;
  outline: none;
  box-sizing: border-box;
  padding: 0 0.2rem;
}

.todoItem-editForm-button {
  width: 1.5rem;
  height: 1rem;
  flex: 0 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.8rem;
}
