.todoList {
  height: 100%;
  width: 20%;
  box-sizing: border-box;
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  min-height: 12rem;
  background-color: white;
  overflow-y: hidden;
}

.todoList-header {
  box-sizing: border-box;
  padding: 0 0.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8bb7ee;
}

.todoList-title {
  margin: 0;
  font-size: 0.9rem;
  color: #8bb7ee;
}

.todoList-addButton {
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.todoList-buttonImage {
  width: 1rem;
  height: 1rem;
  margin: 0;
  background-image: url("../../../../assets/images/note-add.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.todoList-main {
  box-sizing: border-box;
  padding-bottom: 4.5rem;
  height: calc(100% - 1.5rem);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.todoList-addTodo {
  display: flex;
  box-sizing: border-box;
  padding: 0.2rem;
  align-items: center;
  margin: 0.4rem 0;
  font-size: 0.8rem;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.todoList-addContent {
  flex: 1 1 auto;
  max-width: calc(100% - 1rem);
  white-space: pre-line;
}

.todoList-addButton {
  flex: 0 0 auto;
  border: none;
  outline: none;
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width: 768px) {
  .todoList {
    width: 100%;
  }
}
