.bookmark {
  width: 60%;
}

.bookmark-header {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.bookmark-header-title {
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.bookmark-searchForm {
  display: flex;
  height: 2.5rem;
  align-items: center;
  flex: 1 1 auto;
  max-width: 70%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background-color: white;
}

.bookmark-searchInput {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0 1rem;
  border-radius: 10px 0 0 10px;
  &::placeholder {
    color: #a9a9a9;
  }
}

.bookmark-searchButton {
  margin: 0 1rem 0 0;
  padding: 0;
  width: 1.1rem;
  height: 1.1rem;
  border: none;
  outline: none;
  background-color: transparent;
  // width: 1.5rem;
  // height: 1.5rem;
  font-size: 1.1rem;
  color: #a9a9a9;
}

.bookmark-searchButtonImage {
  background-image: url("../../../../assets/images/bookmark-search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
}

.bookmark-addButton {
  flex: 0 0 auto;
  width: 1.4rem;
  height: 1.4rem;
  margin: 1rem;
  padding: 0;
  outline: none;
  border-radius: 50%;
  color: #6fa4e7;
  border: none;
  outline: none;
  font-size: 1.4rem;
  text-align: center;
}

.bookmark-form {
  width: 30%;
  min-width: 18rem;
  height: 50%;
  min-height: 20rem;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #8bb7ee;
}

.bookmark-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
  width: 100%;
  height: 20%;
}

.bookmark-form-title {
  margin: 0;
  font-weight: bold;
  color: #8bb7ee;
}

.bookmark-form-close {
  height: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1.1rem;
  font-weight: bold;
  color: #8bb7ee;
  padding: 0;
}

.bookmark-form-input {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bookmark-form-bookmarkTitle,
.bookmark-form-url,
.bookmark-form-description {
  box-sizing: border-box;
  width: 75%;
  height: 2rem;
  padding: 0 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #8bb7ee;
}

.bookmark-form-categoryTitle {
  width: 50%;
  height: 1.5rem;
  outline: none;
}

.bookmark-form-buttons {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bookmark-form-submit {
  outline: none;
  border: 1px solid #8bb7ee;
  color: #8bb7ee;
  background-color: white;
  width: 4.5rem;
  height: 2rem;
  transition: all 300ms ease;
  &:hover {
    color: white;
    background-color: #8bb7ee;
  }
}

@media screen and (max-width: 768px) {
  .bookmark {
    order: 1;
    width: 100%;
    min-height: 18rem;
    margin-bottom: 1rem;
  }

  .bookmark-form {
    min-width: 17rem;
  }
}
