.folderItem-container {
  width: 4rem;
  height: 2.6rem;
  background: #34b0e2;
  margin: 1rem 1.4rem 1.5rem 1.4rem;
  cursor: pointer;
}

.folderItem {
  position: relative;
  top: 0.4rem;
  left: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 2.6rem;
}

.folderItem-main {
  box-sizing: border-box;
  width: 3.8rem;
  height: 2.6rem;
  outline: none;
  background-color: #5dbbf4;
  transform: skew(-25deg);
}

.folderItem-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.folderItem-title {
  box-sizing: border-box;
  padding-left: 0.4rem;
  margin-top: 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  transform: skew(25deg);
  color: #706f6f;
}

.folderItem-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.folderItem-delete {
  right: 0.2rem;
  height: 0.9rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  padding: 0;
  transform: skew(25deg);
}

.folderItem-form {
  transform: skew(25deg);
}

.folderItem-input {
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 1px solid #706f6f;
  margin: 0.2rem 0 0 0;
  background-color: transparent;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .folderItem-container {
    margin-bottom: 1rem;
  }
}
