.folderItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.folderItem-main {
  box-sizing: border-box;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 0.8rem;
  outline: none;
  border: 2px solid #8bb7ee;
  position: relative;
  background-color: white;
  border-radius: 0 6px 6px 6px;
  &:before {
    content: "";
    width: 50%;
    height: 0.75rem;
    border-radius: 0 20px 0 0;
    background-color: white;
    border: 2px solid #8bb7ee;
    position: absolute;
    top: -1rem;
    left: -0.1rem;
  }
}

.folderItem-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.folderItem-title {
  margin: 0.2rem 0 0 0;
  text-align: center;
}

.folderItem-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.folderItem-delete {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  height: 0.9rem;
  border: none;
  outline: none;
  background-color: white;
  font-size: 0.9rem;
  font-weight: bold;
  color: #8bb7ee;
  padding: 0;
}

.folderItem-input {
  width: 90%;
  outline: none;
  border: 1px solid #8bb7ee;
  margin: 0.2rem 0 0 0;
}

@media screen and (max-width: 768px) {
  .folderItem {
    width: 4rem;
    height: 4rem;
  }

  .folderItem-folder {
    width: 4rem;
    height: 4rem;
    &:before {
      height: 0.5rem;
      top: -0.75rem;
    }
  }

  .folderItem-main {
    width: 100%;
    height: 100%;
  }
}
