.rootList {
  height: calc(100% - 4rem);
  box-sizing: border-box;
  padding: 1rem 0;
  background-color: #f6f6f6;
  border-radius: 12px;
}

.rootList-addButton {
  box-sizing: border-box;
  margin: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  outline: none;
  border: 2px solid #8bb7ee;
  position: relative;
  background-color: white;
  border-radius: 0 6px 6px 6px;
  color: #8bb7ee;
  font-size: 1.5rem;
  padding: 0.2rem;
  &:before {
    content: "";
    width: 50%;
    height: 0.75rem;
    border-radius: 0 20px 0 0;
    background-color: white;
    border: 2px solid #8bb7ee;
    position: absolute;
    top: -1rem;
    left: -0.1rem;
  }
}

.rootList-content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 100%;
  min-height: 5rem;
  padding: 2rem 0 0 1rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.rootList-form {
  width: 30%;
  min-width: 18rem;
  height: 50%;
  min-height: 20rem;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #8bb7ee;
}

.rootList-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
  width: 100%;
  height: 20%;
}

.rootList-form-title {
  margin: 0;
  font-weight: bold;
  color: #8bb7ee;
}

.rootList-form-close {
  height: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1.1rem;
  font-weight: bold;
  color: #8bb7ee;
  padding: 0;
}

.rootList-form-input {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rootList-form-foldertitle {
  box-sizing: border-box;
  width: 75%;
  height: 2rem;
  padding: 0 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #8bb7ee;
}

.rootList-form-buttons {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rootList-form-submit {
  outline: none;
  border: 1px solid #8bb7ee;
  color: #8bb7ee;
  background-color: white;
  width: 4.5rem;
  height: 2rem;
  transition: all 300ms ease;
  &:hover {
    color: white;
    background-color: #8bb7ee;
  }
}

@media screen and (max-width: 768px) {
  .rootList {
    padding: 0.2rem 0;
  }
  .rootList-title {
    height: 0.8rem;
    line-height: 0.8rem;
  }

  .rootList-addButton {
    width: 4rem;
    height: 4rem;
    &:before {
      height: 0.5rem;
      top: -0.75rem;
    }
  }

  .rootList-content {
    padding: 1.5rem 0.5rem;
  }
}
