.app {
  height: 100vh;
  min-width: 14rem;
  box-sizing: border-box;
  padding: 1rem 4rem 0 4rem;
}

@media screen and (max-width: 768px) {
  .app {
    height: auto;
    padding: 0.5rem 0.5rem;
  }
}
